

/* Header*/
header {

    position: relative;
    padding: 1rem;
}

/* Main */ 

.row-1 {
    border: solid 3px black;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 15%;
    color: blue;
}
.conteiner {

}
.conteiner-fluid {
position: relative;
left: 30vw;
}

iframe:hover {
    transform: scale(2);
    transition-duration: 2s;

}

.textVideo { 
text-shadow: 10px 10px  red;
}

.lema {
animation-name: lemamovimiento;
animation-duration: 5s;
transform: translatey(4vh);
}
@keyframes lemamovimiento {
25%{

transform: scale(2);
}
50%{
    text-decoration: red;
}
}

.titlema {
transform: scale(2.5);
text-align: center;
}
/* Footer */   

footer { 
    position: relative;
    background-color: bisque;
    top: 13vw;
}
.imgTurbo { 

    width: 30rem;
    height: 10rem;
    }
    
    footer img {
    width: 3rem;
    height: 3rem;
    }