*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    background: radial-gradient(blue red);
    
}
/* Header */



/*
.logo a img{
    width: 5rem;
    border: 7px solid black;
    border-radius: 10%;
    border-style: double;

}

.logoTitulo{ 

    font-size: 3rem; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 10vw;
    background: none;
}
/* Main */ 

.col-12  {
    border: solid 3px black;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 15%;
    color: blue;
}
conteiner-fluid {
position: relative;
justify-content: center;
}

iframe:hover {
    transform: scale(2);
    transition-duration: 2s;

}

.textVideo { 
text-shadow: 10px 10px  red;
}

.lema {
animation-name: lemamovimiento;
animation-duration: 5s;
transform: translatey(4vh);
}
@keyframes lemamovimiento {
25%{

transform: scale(2);
}
50%{
    text-decoration: red;
}
}

.titlema {
transform: scale(2.5);
text-align: center;
}
/* Footer */   

footer { 
    position: relative;
    background-color: bisque;
}