*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    background: radial-gradient(blue red);
    
}
/* Header */

header {

    grid-area: header;
    display: grid;
    grid-template-columns: 10% 40% 40% ;
    padding: 3px;
}

.logo a img{
    width: 5rem;
    border: 7px solid black;
    border-radius: 10%;
    border-style: double;

}

.logoTitulo{ 

    font-size: 3rem; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 10vw;
    background: none;
}
/* Main */ 

.botonAtras1  {
    border: solid 3px black;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 15%;
    color: blue;
}
.video { 
display: grid;
grid-template-rows: 60% 20% 10%;
justify-content: space-around;
padding: 5vw;
align-items: center;
}

.video1:hover {
    transform: scale(2);
    transition-duration: 2s;

}

.textVideo { 
text-shadow: 10px 10px  red;
}

.lema {
animation-name: lemamovimiento;
animation-duration: 5s;
transform: translatey(4vh);
}
@keyframes lemamovimiento {
25%{

transform: scale(2);
}
50%{
    text-decoration: red;
}
}

.titlema {
transform: scale(2.5);
text-align: center;
}
/* Footer */   

.pie{ 
    
    
    display: grid;
    grid-template-columns: 15% 65% 19%;
    position: fixed;
    top: 90vh;
    width: 100%;
    /*background-color: bisque;*/
    background-color: linear-gradient(grey 40%  rgb(235, 9, 9) 60%s);
}


.pie h4{

    color: red;
    text-decoration-line: underline;
    font-size: 2rem;
}