*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
   
}

/* Header */


header {

    position: relative;
    padding: 1rem;
}
input{    
height: 2rem;
position: relative;
top: 1rem;
}

.chango {   
position: absolute;
left: 90vw;
width: 50rem;
top: 0;
}
a {
text-decoration: none;
color: black;
font-size: 1.5rem;   
}
a:hover {
text-decoration: none;
color: black;
font-size: 2rem;
}

/* Main */
main .col-2 {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: green;
    color: white;
}
main .col-2:hover {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: green;
    color: white;
    width: 15rem;
    height: 3rem;
}

main Img{

    width: 25rem;
    height: 25rem;
}

    
/* Footer */   

footer { 
    position: relative;
    background-color: bisque;
}

.imgTurbo { 

width: 30rem;
height: 10rem;
}

footer img {
width: 3rem;
height: 3rem;
}