/* Seccion Ingreso y Ofertas */
.tituloOfertas {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    border: 5px solid black;
    border-style: double;
    padding: 5px;
    background: grey;
  }
  
  .botonCompras {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: green;
    color: white;
  }
  
  .botonCompras:hover {
    font-weight: bold;
    border-radius: 10%;
    font-size: 1rem;
    padding: 5px;
    background: none;
    background-color: green;
    color: white;
    width: 6rem;
    height: 3rem;
  }
  
  .ofertasImg {
    width: 25rem;
    height: 25rem;
  }
  
  .col-4 {
    border: solid 4px black;
    border-radius: 10%;
    text-align: center;
    padding: 20px;
    background: gray;
  }
  
  .tituloIngreso {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    border: 5px solid black;
    border-style: double;
    padding: 5px;
    background: gray;
  }
  
  /* Header */
  header {
    position: relative;
    padding: 1rem;
  }
  
  input {
    height: 2rem;
    position: relative;
    top: 1rem;
  }
  
  .chango {
    position: absolute;
    left: 90vw;
    width: 50rem;
    top: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  
  /* Footer */
  footer {
    position: relative;
    background-color: bisque;
  }
  
  .imgTurbo {
    width: 30rem;
    height: 10rem;
  }
  
  footer img {
    width: 3rem;
    height: 3rem;
  }